* { margin: 0; padding: 0; }

html, body {
    background: #fff;
    font-family: Arial;
    font-size: 16px;
    min-width: 320px;
}

a {
    color: #15629B;
}

/* index */

.content {
    margin: 100px auto;
    width: 500px;
    background: #f5f5f5;
    padding: 200px 50px 50px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: relative;
}

h3 {
    font-family: 'PT Sans', Arial;
    font-size: 48px;
    text-shadow: 1px 1px 1px #fff;
}

.info {
    margin-top: 50px;
    margin-right: 250px;
}
.about {
    font-size: 20px;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}
.contacts {
    margin-top: 20px;
    text-shadow: 1px 1px 1px #fff;
    color: #999;
}
.contacts .service {
}
.books-link {
    position: absolute;
    left: -75px;
    top: 318px;
    color: #999;
    font-size: 11px;
    width: 50px;
    text-align: right;
}
.books-link a {
}

@media all and (max-width: 800px) {
    h3 {
        font-size: 40px;
    }
    .content {
        width: auto;
        margin: 20px 20px 50px;
        padding: 20px;
    }
    .info {
        margin-right: 0;
        margin-top: 20px;
    }
    .books-link {
        position: relative;
        width: auto;
        text-align: left;
        top: 50px;
        left: 0;
    }    
}

/* books */
.books {
    padding: 20px;
}
.books a {
    font-size: 14px;        
}
.books h3 {
    font-size: 24px;
}
.books .book {
    float: left;
    margin: 15px 20px 15px 0;
}
.books .book .cover {
    width: 128px;
    height: 155px;
    background: #efefef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 5px 5px;
    text-align: center;
    position: relative;
}
.books .book .cover:hover {
    background: #e6e6e6;
}
.books .book .cover .author {
    font-size: 11px;
    display: block;
}
.books .book .cover .title {
    display: inline-block;
    padding-top: 2px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'PT Sans', Arial;
    line-height: 1.2;
}
.books .book .cover .actions {
    display: block;
    padding-top: 2px;
    font-size: 11px;
}
.books .book .cover .actions a {
    font-size: 11px;
}
.books .book .cover a.download {
    position: absolute;
    bottom: 7px;
    font-size: 11px;
    padding-left: 12px;
    background: url(../images/1338240798_download.gif) 0 80% no-repeat;
    left: 35px;
}
.new-book {
    clear: left;
    padding: 10px 0;
}
@media all and (max-width: 480px) {
    .books .book {
        float: none;
        margin: 20px 0;
    }
    .books .book .cover {
        width: auto;
        height: auto;
        padding-bottom: 25px;
    }
    .books .book .cover a.download {
        left: 50%;
        margin-left: -33px;
        background-position: 0 70%;
    }
    .books .book .cover .author {
        font-size: 14px;
    }
    .books .book .cover .title {
        font-size: 16px;
    }
    .books .book .cover a.download {
        font-size: 14px;
    }
}
/* form */
.form_row {
    padding: 5px;
}
.form_row label {
    float: left;
    width: 120px;
}
.form_row .input_row {
    padding-left: 130px;
}
.record_actions {
    padding: 10px 0;
    list-style: none;
}
.record_actions li {
    float: left;
    margin: 0 10px 0 0;
    
}
.preview {
    float: right;
    width: 50%;
}